<div class="jumbotron">
  <h2>Irish Name Matching</h2>
  <p>
  This project is to provide a web service that encodes several of these methods
  (particularly Soundex,Irish-Soundex, Matheson's-classiification and string-matching)
  and produces matches for names between two lists, returning the paired index values
  of matching names according to the specified method.
  </p>
</div>
