/*
 *= require font-awesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 30px;
}

h1 {
  margin-bottom: 30px;
}

.form-group {
  label + .checkbox {
    margin-top: 0;
  }

  .checkbox {
    .mm-value {
      display: inline-block;
      width: 4em;
      padding: 0;
      height: 2em;
      text-align: center;
    }
  }
}

.section-header {
  margin-bottom: 20px;
}
