/*
 *= require font-awesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 30px;
}

h1 {
  margin-bottom: 30px;
}

.form-group {
  label + .checkbox {
    margin-top: 0;
  }
}
